.about-one {
    padding-top: 120px;

    .inner-container {
        background-color: #fff;
        z-index: 9;
        position: relative;
    }

    .block-title__title {
        font-size: 40px;
    }

    &__content {
        text-align: center;
        padding-left: 90px;
        padding-right: 90px;

        >img {
            margin-bottom: 60px;
        }
    }

    .block-title__line {
        margin-bottom: 0;
    }

    .block-title {
        margin-bottom: 55px;
    }

    &__text {
        font-size: 20px;
        line-height: 32px;
        color: #616161;
        margin: 0;
        margin-bottom: 50px;
    }
}