.funfact-one {
    background-color: $thm-black;
    background-image: url(../images/fun-fact-bg-1-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    position: relative;
    padding-bottom: 90px;
    padding-top: 110px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../images/fun-fact-bg-1-2.png);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .block-title__title,
    .block-title__text {
        color: #fff;
    }
}

.funfact-one__content {
    padding-left: 50px;
}

.funfact-one__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.funfact-one__single {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    flex: 1 1 33.3333%;
    margin-bottom: 30px;
}

.funfact-one__single-inner {
    padding-top: 55px;
    padding-bottom: 55px;
    background-color: #2d2a2c;
    text-align: center;
    transition: all .4s ease;

    &:hover {
        background-color: $thm-base-color;
    }
}

.funfact-one__number {
    font-weight: bold;
    color: #fff;
    font-size: 60px;
    margin: 0;
    line-height: 1em;
}

.funfact-one__text {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    margin: 0;
    line-height: 1em;
    margin-top: 12px;
}